.base {
    color: #13ce66;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin: 10px;
}

.sub-letters {
    color: gray;
    font-size: 0.3em;
}

div:focus {
    background: #13ce66;
}