<div class="container-fluig">
    <div class="base">
        <div class="row text-center">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-2 col-xs-2 record" (click)="toggleState(this)">
                1
            </div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">
                2
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">ABC</div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 " (click)="toggleState($event.target.innerText)">
                3
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">DEF</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <hr>        
        <div class="row text-center">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">4
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">GHI</div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">5
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">JKL</div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">6
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">MNO</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">7
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">PQRS</div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">8
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">TUV</div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">9
                <div class="row sub-letters">
                    <div class="col-md-12 col-xs-12">WXYZ</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">*</div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">0</div>
            <div class="col-md-2 col-xs-2" (click)="toggleState($event.target.innerText)">#</div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>

</div>