.base {
    margin: 0 auto;
    width: 298px;
    /* border: 1px solid gray; */
    height: 539px;
    background-color: #8492A6;
    color: white;
}

.title {
    padding: 30px;
    background-color: #343F4B;
    z-index: 99;
}

.backbutton {
    font-size: 24px;
    margin-left: -31px;
    margin-top: -22px;
    cursor: pointer;
}

.number {
    font-size: 22px;
    margin-top: -19px;
    margin-left: 30px;
}

.photo img {
    margin-top: 55px;
    height: 140px;
    border: 3px solid #2d96f1;
    border-radius: 100px;
    background-color: #fafafa;
}

.photo-sub {
    margin-top: 5px;
    font-size: 16px;
}

.call-timing {
    margin-top: 60px;
    font-size: 24px;
}

.end-button img {
    margin-top: 60px;
    height: 52px;
    cursor: pointer
}

.microphone img {
    margin-top: 68px;
    height: 34px;
    cursor: pointer;
}

.video img {
    margin-top: 75px;
    margin-left: 37px;
    height: 23px;
    cursor: pointer;
}