.base {
    margin: 0 auto;
    max-width: 330px;
    height: 539px;
    background-color: #8492A6;
    color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.title {
    padding: 25px;
    background-color: #343F4B;
    font-size: 1.5em;
    color: white;
}

.number {
    font-size: 22px;
    margin-top: -19px;
    margin-left: 30px;
}

.photo {
    text-align: center;
}

.photo img {
    margin-top: 20px;
    height: 140px;
    border: 3px solid #2d96f1;
    border-radius: 100px;
    background-color: #fafafa;
}

.photo-sub {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}

.call-timing {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

.end-button img {
    height: 52px;
    cursor: pointer
}

.microphone img {
    margin-top: 15px;
    height: 34px;
    cursor: pointer;
}

.video img {
    margin-top: 15px;
    height: 23px;
    cursor: pointer;
}

.sip-number {
    text-align: center;
    float: right;
}

.glyphicon {
    cursor: pointer;
}

.end-group {
    margin-top: 100px;
    text-align: center;
}

.videoCall {
    position: relative;
    overflow: visible; 
}

.hide {
    display: none !important;
}

.end-groupVideo {
    margin-top: 35px;
    text-align: center;
}

@media (max-width: 768px) {
    .end-group {
        margin-top: 65px;
        text-align: center;
    }

    .microphone img {
        margin-top: 11px;
        height: 34px;
        cursor: pointer;
    }
    
    .video img {
        margin-top: 15px;
        height: 23px;
        cursor: pointer;
    }
}