<div class="container-fluid">
  <div class="row base">
    <div class="title">
      <div class="col-xs-2 col-sm-2 col-md-2 text-left backbutton" (click)="goBack()"><</div>
          <div class="col-xs-10 col-sm-10 col-md-10 text-right number">
            +55 9968919542
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center photo">
          <img src="assets/face2.png">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center photo-sub">
          <span>calling Katie Blackmore</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center call-timing">
          <span>00:02</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center end-button">
          <img src="assets/hangup.png" (click)="goBack()">
        </div>
      </div>
      <video autoplay id="remoteVideo"></video>
      <video autoplay id="localVideo" muted="muted"></video>
    </div>

  </div>