body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.img-container {
  position:relative;
  padding-top: 35%;
}

.img-logo {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

.base {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.status {
  margin-bottom: 10px;
}

.status img {
  width: 20px;
}

.status span {
  margin-left: 10px;
  margin-bottom: 10px;
}

.call-icon  {
  width: 40px;
  cursor: pointer;
}

.footer {
  text-align: center !important;
}

.caller {
  border-radius: 200px;
  width: 100px;
  text-align: center;
}