/* #exTab1 {
  padding: 5px 15px;
}

#exTab1 img {
  margin: 0 auto;
  width: 200px;
}

.tab {
    width: 296px;
    margin: 0 auto;
    padding-top: 14px;
}

.img-container {

} */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.img-container {
  position:relative;
  padding-top: 40%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

.base {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}