input {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 25px;
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-select {
  position: relative;
  list-style-type: none;
  padding: 0;
  z-index: 1;
}

.filter-select-list:hover .tags {
  color: #fff;
}

.filter-select-list {
  cursor: pointer;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.filter-select-list:hover {
  background: #C0C0C0;
  color: #fff
}

.filter-select-list img {
  border-radius: 50px;
  width: 50px;
}

.name {
  margin-left: 10px;
}

.call {
  width: 35px !important;
  margin-top: 9px;
}