  .input-group {
      /* border: 1px solid;
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px; */
      border-radius: 4px;
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      width: 100%;
      margin-top: 10px !important;
      margin: 0 auto;
  }

  .form-control {
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      padding: 24px;
  }

  /* // Medium devices (tablets, 768px and up) */

  @media (min-width: 768px) {
      /* .input-group {
        border: 1px solid;
        border-radius: 4px;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        width: 271px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        margin: 0 auto;
    } */
      /* .input-group {
          border-radius: 4px;
          font-size: 25px;
          font-family: 'Open Sans', sans-serif;
          width: 301px;
          margin-top: 10px !important;
          margin-bottom: 10px;
          margin: 0 auto;
      } */
      .input-group {
        border-radius: 4px;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        width: 301px;
        margin-top: 10px !important;
        margin-bottom: 10px;
        margin: 0 auto;
    }
  }

  /* // Large devices (desktops, 992px and up) */

  @media (min-width: 992px) {

  }

  /* // Extra large devices (large desktops, 1200px and up) */

  @media (min-width: 1200px) {
    .input-group {
        border-radius: 4px;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        width: 417px;
        margin-top: 10px !important;
        margin-bottom: 10px;
        margin: 0 auto;
    }
  }

.filter-select {
  /* width: 50%; */
  /* margin-top: 40px; */
  /* list-style: none;
  font-size: 0.9em;
  color: rgb(105, 105, 105);
  width: 100%; */
  /* border: 1px solid #ccc; */
  /* border-top: none; */
  /*so things don't jump around*/
  /* position: absolute;
  left: 25%;
  top: calc(50% + 25px);
  max-height: calc(50% - 15px);
  overflow-y: auto; */
  /* background: #fff */
  list-style-type: none;
  padding: 0;
}
.filter {
    margin: -30px 220px !important;
    margin: 0 auto;
    z-index: 99;
}
.filter-select-list:hover .tags {
  color: #fff;
}
.filter-select-list {
  cursor: pointer;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
.artist-name {
  display: inline-block;
}
.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff
}
